{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% block coutom_css %}
<style>
  .year{
      margin-bottom: 1rem;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 18px;
  }
  .year li{
      padding-left: 3rem!important;
  }
</style>
{% endblock %}
{% block title %}
    <title>归档</title>
{% endblock %}
{% block content %}
    <div class="content">
        {#{% archives as date_list %}#}
        {#{% for date in date_list %}#}
        {#<li>#}
        {#  <a href="">#}
        {#    {{ date.year }} 年 {{ date.month }} 月#}
        {#  </a>#}
        {#</li>#}
        {#{% endfor %}#}
        <div class="widget widget-archives">
            <h3 class="widget-title">归档</h3>
            {% archives as archiveslist %}
            {% regroup archiveslist by create_time.year as year_post_group %}
            <ul class="year">
                {% for year in year_post_group %}
                <li >{{ year.grouper }} 年
                    {% regroup year.list by create_time.month as month_post_group %}
                    <ul class="month">
                        {% for month in month_post_group %}
                        <li>{{ month.grouper }}
                            月({{ month.list | length }})
                            <ul class="archives-post">
                                {% for post in month.list %}
                                <li><a href="{% url 'post' post.id %}">{{ post.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>



                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
