{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% block title %}<title>{{ post.title }}</title>{% endblock %}
{% block content %}
<div class="content">
  <header class="article-header">
	<h1 class="article-title"><a href="#" title="{{ post.title }}" draggable="false">{{ post.title }}</a></h1>
	<div class="article-meta"> <span class="item article-meta-time">
	  <time class="time" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="发表时间：{{ post.create_time|date:"Y-m-d H:m:i"|strtime }}"><i class="glyphicon glyphicon-time"></i>{{ post.create_time|date:"Y-m-d H:m:i"|strtime }}</time>
	  </span> <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="来源：{{ post.author }}"><i class="glyphicon glyphicon-globe"></i> {{ post.author }}</span>
        <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="分类：{{ post.category }}"><i class="glyphicon glyphicon-list"></i> <a href="#" title="{{ post.category }}" draggable="false">{{ post.category }}</a></span>
{#        <span class="item article-meta-tag" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="标签：{{ post.tags.name }}"><i class="glyphicon glyphicon-tag"></i> <a href="#" title="{{ post.tags.name }}" draggable="false">{{ post.tags }}</a></span>#}
        <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="浏览量：{{ post.view }}"><i class="glyphicon glyphicon-eye-open"></i> {{ post.view }}</span>
        <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="评论量:{{ post.comment_set.count }}"><i class="glyphicon glyphicon-comment"></i> {{ post.comment_set.count }}</span>
    </div>
  </header>
  <article class="article-content">
{#	<p><img data-original="images/201610181557196870.jpg" src="{% static 'images/201610181557196870.jpg' %}" alt="" draggable="false" style="display: block;"></p>#}

	{{ post.body|safe|markdown }}


	<div class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1517932373543"><a href="#" class="bds_more" data-cmd="more" draggable="false"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间" draggable="false"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" draggable="false"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博" draggable="false"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信" draggable="false"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧" draggable="false"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友" draggable="false"></a>
    </div>

		  <script>                  window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=0.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
  </article>
  <div class="article-tags">标签：
      {% for tag in post.tags.all %}
      <a href="{% url 'tag' tag.id %}" rel="tag" draggable="false">{{ tag.name }}</a>
      {% endfor %}
	</div>
  <div class="relates">
	<div class="title">
	  <h3>相关推荐</h3>
	</div>
	<ul>
	    {% for related in related_article %}
	    <li><a href="{% url 'post' related.id %}" title="" draggable="false">{{ related.title }}</a></li>
	    {% endfor %}


	</ul>
  </div>
  <div class="title" id="comment">
	<h3>评论</h3>
  </div>
  <div id="respond">

			<div class="comment">
				<input name="name" id="user-name" class="form-control" size="22" placeholder="您的昵称（必填）" maxlength="15" autocomplete="off" tabindex="1" type="text">
				<input name="email" id="email" class="form-control" size="22" placeholder="您的邮箱（必填）" maxlength="58" autocomplete="off" tabindex="2" type="text">
				<div class="comment-box">
					<textarea placeholder="您的评论或留言（必填）" name="text" id="comment-textarea" cols="100%" rows="3" tabindex="3"></textarea>
					<div class="comment-ctrl">

						<div class="comment-prompt" style="display: none;"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text">评论正在提交中...请稍后</span> </div>
						<div class="comment-success" style="display: none;"> <i class="fa fa-check"></i> <span class="comment-prompt-text">评论提交成功...</span> </div>
						<button type="submit" name="comment-submit" id="comment-submit" tabindex="4">评论</button>
					</div>
				</div>
			</div>

<script>
    //添加评论
    $("#comment-submit").on('click', function(){
        var text = $("#comment-textarea").val();
        var email = $("#email").val();
        var name = $("#user-name").val();
        if(name == ""){
            document.getElementById("user-name").setAttribute("placeholder","名字不能为空!");
            return
        }
        else if (email == "")
            {
            document.getElementById("email").setAttribute("placeholder","邮箱不能为空!");
            return
        }

        else if(text == ""){
          document.getElementById("comment-textarea").setAttribute("placeholder","评论内容不能为空!");
            return
        }


        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'comment' post.id %}",
            data:{'email':email, 'text':text,'name':name},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data.msg){
                        document.getElementById("email").setAttribute("placeholder","评论失败!");
                    }


                }else if(data.status == 'success'){
                    window.location.reload();//刷新当前页面.
                }
            },
        });
    });

</script>
	</div>
  <div id="postcomments">
	<ol id="comment_list" class="commentlist">
    {% for commnet in comments_list %}
	<li class="comment-content"><span class="comment-f">#{{ forloop.counter }}</span><div class="comment-main"><p><a class="address" href="#" rel="nofollow" target="_blank" draggable="false">{{commnet.name}}</a><span class="time">({{ commnet.create_time }})</span><br>{{ commnet.text }}</p></div>
  </li>
  {% endfor %}
</ol>
  </div>
</div>
{% endblock %}
